@using GameGroove.Models
@model Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@*form to login*@
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
<div class="form-horizontal">

    @*form group for username*@
    @Html.LabelFor(model => Model.Username)
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Username, "", new { @class = "text-danger" })
    </div>

    @*form group for password*@
    @Html.LabelFor(model => Model.Password)
    <div class="form-group">
        @Html.PasswordFor(model => Model.Password, new { @id = "passwordInput", @class = "form-control" })
        @*check box to show password*@
        <div class="row">
            <div class="col-md-1">
                <input type="checkbox" onclick="hidePassword()">
            </div>
            <div class="col-md-2">
                Show Password
            </div>
        </div>
        @Html.ValidationMessageFor(model => Model.Password, $"{ TempData["LoginError"] }", new { @class = "text-danger" })
    </div>
    @*submit button*@
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Login" />
    </div>
</div>
}